# Android Studio configuration.
*.iml
.idea/

# Gradle configuration.
.gradle/
build/

# User configuration.
local.properties
app/google-services.json

# OS configurations.
.DS_Store

# Android NDK cmake output.
.cxx/
